.navbar-nav .nav-link.active{
    background-color: transparent;
}
.nav-pills > .nav-link.active{
    background-color: #ecb941;
    color: #fff;
}
.nav-link{
text-align: center;
color:#ecb941
}
body{
    color: #fff;
}
#logo{
    width: 200px;
}
section{
    padding-top: 100px;
}
.card{
    margin: 32px 0;
    box-shadow: 10px 10px rgba(0,0,0,0.3);
    border: none;
    margin: 32px;
    width: 14rem;
}
.card:hover .img-capa{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    box-shadow: 10px 10px rgba(0,0,0,0.3);
}
.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
    box-shadow: 10px 10px rgba(0,0,0,0.3);
}
.img-slide{
    max-height: 500px; 
    object-fit: cover;
}
h2 {
    color: #fff;
    margin-bottom: 16px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(119, 106, 106, 0.3);
}
.alinhamento-img{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
.titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo span{
    height: 1px;
    width: 100%;
    display: block;

}
.titulo h3{
    padding:0 48px;
    text-wrap: nowrap;
}

#tab1 .titulo h3 {
    color:#ecb941;
    
}
#tab1 .titulo span{
    background-color: #e21313;
}
#tab2 .titulo h3 {
    color:#1e802e;
    
}
#tab2 .titulo span{
    background-color: #c7bfbf;
}
#tab3 .titulo h3 {
    color:#ecb941;
    
}
#tab3 .titulo span{
    background-color: #080808;
}

#tab4 .titulo h3 {
    color:#354edd;
    
}
#tab4 .titulo span{
    background-color: #f8f4f4;
}
.cabecalho{
    padding: 8px 0;
    background-color: black;
}
.cabecalho p{
    margin-left: 16px;
}

@media screen and (max-width: 767px ){
    .img-slide{
        max-height: 150px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
}